@charset "UTF-8";

@charset "utf-8";
/* CSS Document */
 
body {
    margin: 0px; 
    font-size: 18px;
    color: #FFFFFF;
}
#box {
    position: relative;
    height: auto;
    margin: auto; 
    background-color: #FFFFFF;
}
#top {
    background-color: #202020;
    height: 100px;
    width: 100%;
    position: relative;
}
#main {
    background-color: #404040;
    float: left;
    height: 1100px;
    width: 100%;
    position: relative;
}
